# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Game/MusicGame/MusicGame/MusicGame/bin/x86/Debug/MusicGame.exe
Game/MusicGame/MusicGame/MusicGame/bin/x86/Debug/MusicGame.pdb
Game/MusicGame/MusicGame/MusicGame/obj/x86/Debug/MusicGame.exe
Game/MusicGame/MusicGame/MusicGame/obj/x86/Debug/MusicGame.pdb
Game/MusicGame/MusicGame.v12.suo
Game/MusicGame/MusicGame/MusicGame/obj/x86/Debug/ContentPipeline-{6F4A5D9B-8D70-40BE-BCC2-EAA07B633B81}.xml
Game/MusicGame/MusicGame/MusicGame/obj/x86/Debug/MusicGame.csprojResolveAssemblyReference.cache
Game/MusicGame/MusicGame/MusicGameContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Game/MusicGame/MusicGame/MusicGameContent/obj/x86/Debug/MusicGameContent.contentprojResolveAssemblyReference.cache
